<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>홈페이지</title>
</head>
<body>
<h1>메인페이지</h1>
<div id="userArea"></div>

<!--관리자 메뉴 -->
<div id="adminMenu" style="display: none;">
    <button onclick="location.href='/product/create'">상품 등록</button>
    <button onclick="location.href='/coupon/create'">쿠폰 등록</button>
</div>

<div id="productMenu">
    <button onclick="location.href='/product/list'">상품 목록</button>
    <button onclick="location.href='/coupon/list'">쿠폰 목록</button>
</div>

<script>

    const user=JSON.parse(localStorage.getItem("userInfo"));
    const userArea=document.getElementById("userArea");
    const adminMenu = document.getElementById("adminMenu");

    if(user && user.username){
        userArea.innerHTML = `
        <p>환영합니다 <strong>${user.username}</strong>님!</p>
        <button onclick="logout()">로그아웃</button>
      `;

        //관리자일 경우에만 상품 등록 버튼 노출
        if(user.role==='ROLE_ADMIN'){
            adminMenu.style.display="block";
        }
    }else{
        userArea.innerHTML= `
        <a href="/signup"><button>회원가입</button></a>
        <a href="/login"><button>로그인</button></a>
      `;
    }

    function logout() {
        localStorage.removeItem("userInfo");
        alert("로그아웃 되었습니다.");
        location.reload();
    }

</script>

</body>
</html>