<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<h2>로그인</h2>
<form id="loginForm">
    <label for="loginId">아이디:</label>
    <input type="text" id="loginId" name="loginId" required><br><br>

    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required><br><br>

    <button type="submit">로그인하기</button>
</form>

<script>

    document.getElementById('loginForm').addEventListener('submit', async function (e) {

        e.preventDefault();

        const data = {
            loginId: document.getElementById('loginId').value,
            password: document.getElementById('password').value
        };

        try {
            const response = await fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (response.ok) {

                const userInfo=await response.json();
                localStorage.setItem("userInfo",JSON.stringify(userInfo));
                alert("로그인 성공하였습니다.");
                console.log(localStorage);
                window.location.href = "/";

            } else {
                const message=await response.text();
                alert("로그인 실패: " + message);
            }
        } catch (error) {
            alert("에러 발생: " + error.message);
        }
    });
</script>
</body>
</html>