<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>상품 목록</title>
</head>
<body>
<h2>상품 상세 정보</h2>
<div id="productDetail"></div>

<script>
    // URL에서 id 파라미터 추출
    const urlParams = new URLSearchParams(window.location.search);
    const productId = urlParams.get('id');
    const userInfo=JSON.parse(localStorage.getItem("userInfo"));
    const token = userInfo ? userInfo.accessToken : '';


    // API 호출하여 상품 상세 데이터 가져오기
    fetch(`/product/detail/${productId}`)
        .then(res => res.json())
        .then(product => {
            const detailDiv = document.getElementById('productDetail');
            let html = `
      <p><strong>상품명:</strong> ${product.name}</p>
      <p><strong>설명:</strong> ${product.content || '설명 없음'}</p>
      <p><strong>가격:</strong> ${product.price}</p>
      <p><strong>카테고리:</strong> ${product.categoryName}</p>
      <button onclick='goToOrder(${product.id})'>주문하기</button>
    `;

            if(userInfo&&userInfo.role==='ROLE_ADMIN'){
                html += `
                    <button onclick="location.href='/product/update?id=${product.id}'">수정</button>
                    <button onclick="deleteProduct(${product.id})">삭제</button>
                `;
            }

            detailDiv.innerHTML=html;
        });

    // 삭제 요청 함수
    function deleteProduct(productId){
        if(confirm('정말 삭제하시겠습니까?')){
            fetch(`/admin/product/delete/${productId}`,{
                method:'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
            })
                .then(res=>{
                    if(res.ok){
                        alert("삭제되었습니다.");
                        location.href='/product/list';
                    }else {
                        alert('삭제 실패');
                    }
                });
        }
    }

    function goToOrder(productId) {
        if(!userInfo){
            alert("로그인이 필요합니다.");
            location.href = "/login";
        }else {
            const orderItem = {productId};
            localStorage.setItem("orderProduct", JSON.stringify(orderItem));
            location.href = "/order/create";
        }
    }
</script>
</body>
</html>